<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  
  <meta name="google-site-verification" content="google43e4b423a1fc00fe.html" />  
  
                    {% include 'evm-seo' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  {% comment %}<title>{{ seo_title }}</title>{% endcomment %}

  {%- if page_description -%}
  {% comment %} <meta name="description" content="{{ page_description | escape }}"> {% endcomment %}
  {%- endif -%}

  {%- include 'social-meta-tags' -%}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <style>
    .collection-item__title {
      font-size: {{ settings.type_collection_size }}px;
    }

    @media screen and (max-width: 768px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size | times: 0.8 }}px;
      }
    }
  </style>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      recentlyViewedEnabled: false,
      quickView: {{ settings.quick_shop_enable }},
      themeVersion: "1.2.1"
    };
  </script>

  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//code.jquery.com/jquery-3.1.0.min.js' | script_tag }}
  <script>theme.jQuery = jQuery;</script>

  {% include 'defer-script' with 'vendor.js' %}

  {% if settings.enable_currencies %}
    <script src="/services/javascripts/currencies.js" defer="defer"></script>
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
  {% endif %}

  {% include 'defer-script' with 'theme.js' %}

  {%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
  {%- endif -%}

	{{ shop.metafields.loox["global_html_head"] }}
  
  <script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>

  <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1410846165667462');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1410846165667462&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

  
  </head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="false">

  {% comment %}
    Enable below script if page transitions enabled
  {% endcomment %}
  {% comment %}
  <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endcomment %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' %}
    {% include 'recently-viewed-product-template' %}
  {% endif %}

	{{ shop.metafields.loox["global_html_body"] }}
 {% include 'smile-initializer' %}

{% include 'back-in-stock-helper' %}
</body>
</html>

{% include 'livechat_chat_window' %}